/*html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background: #2b2b2b;
  color: #fff;
}

.game {
  display: flex;
  justify-content: center;
}

.game:focus{
  outline: none;
}

.player {
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.player0 { background: #dda412;}
.player1 { background: #199644;}
.player2 { background: #d22929;}
.player3 { background: #a60bbf;}

.board {
  margin: 0 auto;
  position: relative;
  width: 560px;
  height: 620px;
}

.row {
  line-height: 0;
}

.square {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.square.dot {
  background: #ffeb3b;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin: 7.5px;
  box-shadow: 4px 5px 5px #191919;
}

.score-board {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.maze {
  position: absolute;
  margin-top: 122px;
  margin-left: -5px;
}

.maze2 {
  margin-top: 134px;
  margin-left: 6px;
  opacity: 0.2;
}
