body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background: #2b2b2b;
  color: #fff;
}

.game {
  display: flex;
  justify-content: center;
}

.game:focus{
  outline: none;
}

.player {
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.board {
  margin: 0 auto;
  position: relative;
  max-height: 80vh;
}

.row {
  line-height: 0;
}

.square {
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.square.blue {
  background: #3f51b5;
}
